@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'kalam-Bold';
  src: url('../Fonts/Kalam-Bold.ttf');
  font-display: swap;
}

:root {
  --DarkBlue:#137FDB;
  --Blue:#6EBAF0;
  --lightBlue:#C4E8FB;
  --Orange: #f85b0a;
  --oldLace:#F7F7E9;
  --lightGreen: #9fdb7b;
  --DarkGreen:#4bbf37;
  --textPrimaryColor: #ffffff;
  --primaryTextColor: #212121;
  --secondaryTextColor: #757575;
  --dividerColor: #bdbdbd;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

.btn{
  background: #9FDB7B;
  background-image: -o-linear-gradient(top, #9FDB7B, #4BBF37);
  background-image: -webkit-gradient(to bottom, #9FDB7B, #4BBF37);
  border-radius:8px;
  Color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 1rem 2rem;
  -webkit-box-shadow: 1px 1px 7px 0 #000000;
  box-shadow: 1px 1px 7px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #4BBF37 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
}

.btn:hover{
    border: solid #188704 1px;
    background: #4BBF37;
    text-decoration: none;
   
}

/* ----------------------Nav-Bar------------------------- */

body {
  font-family: 'Raleway';
  font-size: 2rem;
  line-height: 1.7;
}

.header{
  background-color:var(--oldLace);

}

.logo {
  width: 16rem;
}

.menu-icon {
  display: initial;
  width: 5rem;
  height: 5rem;
}

.nav {
  padding-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-items {
  list-style: none;
  -webkit-column-gap: 1.6rem;
     -moz-column-gap: 1.6rem;
          column-gap: 1.6rem;
}


.nav-link {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.16rem;
  font-size: 1.6rem;
  color: var(--DarkBlue);
  font-weight: 600;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: var(--Blue);
  border-bottom: 4px solid var(--Blue);
}

/* --------------------Landing-page----------------------- */

.landing {
  min-height: calc(100vh - 89.69px);
  background:var(--oldLace);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing h1 {
  font-family: 'Raleway';
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -0.16rem;
  word-spacing: 0.65rem;
  text-align: center;
  font-weight: 800;
  color:var(--DarkBlue);
  padding-bottom: 1.6rem;
}

.landing h2 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--Orange);
  line-height: 1;
  text-shadow: 3px 3px 8px rgba(248,91,10,0.5);
}

.landing h3 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--Orange);
  text-shadow: 3px 3px 8px rgba(248,91,10,0.5);
}

.slogan-box {
  text-align: center;
}

.quote {
  width: 3.6rem;
  height: 3.6rem;
}

.about {
  background-color:#fff;
  margin-bottom: 7rem;
}

.card {
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-box-shadow: 3px 3px 8px -3px rgba(51, 51, 51, 0.6);
          box-shadow: 3px 3px 8px -3px rgba(51, 51, 51, 0.6);
}

.section-header {
  font-size: 3.6rem;
  color: var(--secondaryTextColor);
  font-weight: 800;
  text-align: center;
  padding: 4.8rem 0;
  margin-bottom: 1.6rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.section-header::before{
  content: "";
  position: absolute;
  height: .2rem;
  width: 70%;
  background-color: var(--Orange);
  bottom: 2.5rem;
  left: calc(15%);
}

.card-box {
  margin: auto;
}

.card-title {
  display: inline-block;
  font-size: 2.5rem;
  line-height: 3.2rem;
  font-weight: 700;
  text-align: center;
  padding: 8rem 1.6rem 1.6rem 1.6rem;
}

.cards-container {
  padding: 3.2rem;
  row-gap: 4.8rem;
}

.card {
  min-height: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}

.card-img {
  max-width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.lower-part {
  position: relative;
  text-align: center;
}


.icon-box {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

}

.icon {
  position: relative;
  width: 4.8rem;
  top: -3.2rem;

}

.section-who{
  background-color: var(--oldLace);
 padding:3.2rem 1.6rem 8rem;
 
}

.section-who p{
  margin-bottom:1.6rem;
}

.section-who img{
  margin: auto;
}

.who-icon{
  width: 5rem;
  height: 5rem;
  margin-top: 3rem;
}

.who-tex-box{
  margin-bottom: 5rem;
}

.services{
  padding:3.2rem 1.6rem 8rem;
}

.services ul{
  list-style: none;
}

.service svg{
  display: inline;
  width: 2.25rem;
  height: 2.25rem;
  vertical-align: middle;
  margin-right: .5rem;
}

.footer{
  background-color: #45526E;
  color: var(--textPrimaryColor);
  padding:2rem 1rem 2rem;
}

.footer .row{
  row-gap: 5rem;
}

.footer h3{
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 2rem;
 }

.footer-logo{
  width: 25rem;
}

.footer-icon svg{
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  margin-right: 2rem;
}

.footer p:nth-child(5){
  padding-left: 6rem;
}
.footer p:nth-child(6){
  padding-left: 6rem;
}



/*  X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/*  Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {  } */

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .landing h1 {
    font-size: 5.2rem;
    padding-bottom: 3.2rem;
  }

  .landing h2 {
    font-size: 2.8rem;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .landing h2 {
    font-size: 5.6rem;
  }

}

/*  X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  } */

/* XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }