@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "kalam-Bold";
  src: url("../fonts/Kalam-Bold.ttf");
  font-display: swap;
}
/**
 * Basic typography style for copy text
 */
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.heading-primary {
  text-align: center;
}
.heading-primary__main {
  display: block;
  background-image: linear-gradient(to right, rgb(19, 19, 137), #1c7ed6);
  background-clip: text;
  color: transparent;
  font-family: "Raleway";
  font-size: 3.4rem;
  font-weight: 666;
  letter-spacing: -0.15rem;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  word-spacing: 0.65rem;
}
.heading-primary__sub {
  display: block;
}

.slogan {
  text-align: center;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
}
.slogan__quote {
  width: 3rem;
  height: 3rem;
}
.slogan__text {
  background-image: linear-gradient(to right, rgb(201, 11, 11), #ff922b);
  background-clip: text;
  color: transparent;
}
.slogan__text-main {
  display: block;
  font-size: 3rem;
  font-weight: 800;
  line-height: 0.9;
  text-shadow: 3px 3px 8px rgba(232, 89, 12, 0.5);
  padding-bottom: 1rem;
}
.slogan__text-sub {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #e8590c;
  text-shadow: 0.3rem 0.3rem 0.8rem rgba(232, 89, 12, 0.5);
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #495057;
  font-size: 2rem;
  line-height: 1.7;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.nav {
  padding-top: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.nav__logo {
  width: 16rem;
}
.nav__menu-icon {
  display: block;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  margin-right: 1rem;
}
@media (min-width: 992px) {
  .nav__menu-icon {
    display: none;
  }
}
.nav__items {
  display: none;
}
@media (min-width: 992px) {
  .nav__items {
    display: flex;
    gap: 2rem;
  }
}
.nav__items a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.16rem;
  font-size: 1.6rem;
  color: #1864ab;
  font-weight: 700;
  border-bottom: 0.4rem solid transparent;
  transition: all 0.5s;
}
.nav__items a:active, .nav__items a:focus, .nav__items a:hover {
  color: #4497e5;
  border-bottom: 0.4rem solid #4497e5;
}

.mobile-nav {
  max-width: 65%;
  height: 100vh;
  background: url("../images/backgroud.webp");
  background-size: cover;
  background-position: top center;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(120rem);
  transition: all 0.7s ease-in-out;
}
.mobile-nav__show {
  transform: translateX(0);
}
.mobile-nav__items {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  text-align: center;
}
.mobile-nav__items li a {
  font-size: 2rem;
  font-weight: 600;
  color: #1864ab;
  border-bottom: 0.3rem solid transparent;
  padding-bottom: 0.75rem;
  transition: all 0.5s ease-in-out;
}
.mobile-nav__items li a:hover {
  color: #1971c2;
  border-bottom: 0.3rem solid #1971c2;
}
.mobile-nav__logo-box {
  text-align: center;
  margin-top: 10rem;
}
.mobile-nav__logo {
  width: 22rem;
  margin: 0 1rem;
}

/*Small devices (landscape phones, 576px and up)
Medium devices (tablets, 768px and up)
Large devices (desktops, 992px and up)
X-Large devices (large desktops, 1200px and up)
XX-Large devices (larger desktops, 1400px and up)*/
.grid-2 {
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  grid-template-columns: 1fr;
}
.grid-2--order-1 {
  order: 1;
}
@media (min-width: 48em) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-3 {
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  grid-template-columns: 1fr;
}
@media (min-width: 48em) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Small devices (landscape phones, 576px and up)
Medium devices (tablets, 768px and up)
Large devices (desktops, 992px and up)
X-Large devices (large desktops, 1200px and up)
XX-Large devices (larger desktops, 1400px and up)*/
/*Small devices (landscape phones, 576px and up)
Medium devices (tablets, 768px and up)
Large devices (desktops, 992px and up)
X-Large devices (large desktops, 1200px and up)
XX-Large devices (larger desktops, 1400px and up)*/
.container {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 36em) {
  .container {
    max-width: 54rem;
  }
}
@media (min-width: 48em) {
  .container {
    max-width: 72rem;
  }
}
@media (min-width: 48.25em) {
  .container {
    max-width: 96rem;
  }
}
@media (min-width: 87.5em) {
  .container {
    max-width: 114rem;
  }
}
@media (min-width: 100em) {
  .container {
    max-width: 132rem;
  }
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  background: #37b24d;
  color: #fdfbf6;
  font-size: 2.25rem;
  font-weight: 500;
  padding: 1.1rem 2.2rem;
  box-shadow: 0.2rem 0.6rem 2.9rem 0 #000000;
  text-shadow: 0.1rem 0.1rem 1.1rem #000000;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 0.8rem;
}
.btn:hover {
  background: #319f45;
}

.card {
  min-height: 50rem;
  max-width: 40rem;
  position: relative;
  box-shadow: 0 0.1rem 2rem 1rem rgba(73, 80, 87, 0.23);
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  margin: auto;
}
.card__header img {
  max-width: 100%;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
.card__icon {
  text-align: center;
}
.card__icon svg {
  box-sizing: content-box;
  margin-top: -5rem;
  height: 5rem;
  width: 5rem;
  background-color: #f2f2f2;
  border-radius: 50%;
  padding: 2rem;
  box-shadow: -10px -5px 32px -11px rgba(0, 0, 0, 0.4) inset;
}
.card__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__body p {
  font-size: 2.5rem;
  line-height: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 3rem;
}

.composition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.composition__photo {
  width: 100%;
  box-shadow: 0 1.4rem 4rem rgba(13, 13, 13, 0.4);
  border-radius: 0px;
  transition: all 0.5s ease-in-out;
  outline-offset: 0.5rem;
}
.composition__photo--p1 {
  margin-top: 0;
  margin-left: 7%;
  z-index: 10;
}
.composition__photo--p2 {
  margin-top: 20%;
  margin-left: -10%;
  z-index: 9;
}
.composition__photo--p3 {
  margin-top: -30%;
  margin-left: 0%;
  z-index: 8;
}
.composition__photo--p4 {
  margin-top: 5%;
  margin-left: -5%;
  z-index: 8;
}
.composition__photo--p5 {
  margin-top: -50%;
  margin-left: 5%;
  z-index: 9;
}
.composition__photo--p6 {
  margin-top: 5%;
  margin-left: -40%;
  z-index: 7;
}
.composition__photo:hover {
  z-index: 25;
  transform: scale(1.1);
  outline: 1rem solid #c1d0a5;
}

.hide {
  display: none;
}

/* ----------------------Nav-Bar------------------------- */
.back-drop {
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  opacity: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.close-icon {
  width: 2.5rem;
  height: 2.5rem;
  align-self: flex-end;
  margin: 2rem 2rem 0 0;
}

/* --------------------Landing-page----------------------- */
.hero {
  height: 100vh;
  align-self: center;
  background: url(../images/blob-scene-haikei-mob.svg) no-repeat;
  background-size: cover;
}
@media (min-width: 48em) {
  .hero {
    background: url(../images/blob-scene-haikei.svg) no-repeat;
    background-size: cover;
  }
}
.hero__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  opacity: 75%;
  filter: grayscale(100);
  padding-top: 2rem;
}
.hero__icons img {
  height: 2.5rem;
}

.about {
  background-color: #f2f2f2;
}

.section-header {
  font-size: 3.6rem;
  color: #495057;
  font-weight: 800;
  text-align: center;
  padding: 4.8rem 0;
  margin-bottom: 1.6rem;
  position: relative;
  width: fit-content;
  margin: auto;
}

.section-header::before {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 70%;
  background-color: #e8590c;
  bottom: 4rem;
  left: 15%;
}

.cards {
  row-gap: 3rem;
  margin: auto;
}

.section-who {
  background-color: #f2f2f2;
  padding: 3.2rem 1.6rem 8rem;
}

.section-who .heading-text {
  font-weight: 600;
}

.section-who p {
  margin-bottom: 1.6rem;
}

.section-who .img-box {
  padding: 3rem;
}

.section-who img {
  margin: auto;
  box-shadow: 0.3rem 0.2rem 2rem 1rem rgba(134, 142, 150, 0.23);
  border-radius: 1.2rem;
}

.who-icon {
  width: 5rem;
  height: 5rem;
  margin-top: 3rem;
}

.who-tex-box {
  margin-bottom: 5rem;
}

.services {
  padding: 3.2rem 1.6rem 8rem;
}

.services ul {
  list-style: none;
}

.service svg {
  display: inline;
  width: 2.25rem;
  height: 2.25rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.services ul:last-child {
  margin-bottom: 3rem;
}

.services .img-box {
  margin-bottom: 5rem;
}

.footer {
  background-color: #495057;
  color: #74c0fc;
  padding: 2rem 1rem 2rem;
}

.footer h3 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
  padding-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.footer h3::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 95%;
  background-color: #e8590c;
  bottom: 1.5rem;
  left: 5%;
}

.footer-logo {
  width: 25rem;
  margin-bottom: 2rem;
}

.footer-icon svg {
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
}

.social-icon svg {
  margin-right: 1.25rem;
  transition: all 0.5s ease-in-out;
}

.social-icon svg:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}

.contact-icon {
  margin-right: 2rem;
}

.contact-info p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.scss.map */
