// ---------------------------------------------------
// Colors
// ["#1cade6", "#f0872b", "#bbdbe8", "#c1d0a5", "#72b46e"]
//[#d4effa, #a6dff5, #78cef0, #1cade6, #158cba, #0f698d, #0a475f]
//[#fdf3ea, #fad8ba, #f7bd8a, #f0872b, #d96d0f, #a9550c, #793d09]
//[#ffffff, #bbdbe8, #95c7db, #6fb3ce, #499ec1]
//[#ffffff, #eff3e8, #c1d0a5, #aabf83, #93ad62, #78914b]
//[#f5faf4, #d4e8d3, #b3d7b1, #72b46e, #569e51, #447c40, #315a2f]

// ---------------------------------------------------
$Blue: #1c7ed6;
$Dark-Blue: #1971c2;
$Darker-Blue: #1864ab;
$Green: #51cf66;
$Dark-Green: #37b24d;
$Darker-Green: #2b8a3e;
$orange: #ff922b;
$Dark-Orange: #fd7e14;
$Darker-Orange: #e8590c;
$light-gray: #f2f2f2;
$Gray: #ced4da;
$Dark-Gray: #adb5bd;
$Darker-Gray: #868e96;
$very-Dark-Gray: #495057;
$black: #0d0d0d;
$main-text-color: #495057;
// ---------------------------------------------------
// Fonts
// ---------------------------------------------------
$main-font: 'Raleway';
