// .container 	100% 	540px 	720px 	960px 	1140px 	1320px
// .container-sm 	100% 	540px 	720px 	960px 	1140px 	1320px
// .container-md 	100% 	100% 	720px 	960px 	1140px 	1320px
// .container-lg 	100% 	100% 	100% 	960px 	1140px 	1320px
// .container-xl 	100% 	100% 	100% 	100% 	1140px 	1320px
// .container-xxl 	100% 	100% 	100% 	100% 	100% 	1320px
// .container-fluid 	100% 	100% 	100% 	100% 	100% 	100%
@import 'breakpoints';

.container {
  max-width: 100%;
  margin: 0 auto;

  @include breakpoint(small) {
    max-width: 54rem;
  }
  @include breakpoint(medium) {
    max-width: 72rem;
  }
  @include breakpoint(large) {
    max-width: 96rem;
  }
  @include breakpoint(x-large) {
    max-width: 114rem;
  }
  @include breakpoint(xx-large) {
    max-width: 132rem;
  }
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}
