.card {
  min-height: 50rem;
  max-width: 40rem;
  position: relative;
  box-shadow: 0 0.1rem 2rem 1rem rgb($very-Dark-Gray, 0.23);
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  margin: auto;

  &__header {
    img {
      max-width: 100%;
      border-top-left-radius: 1.2rem;
      border-top-right-radius: 1.2rem;
    }
  }

  &__icon {
    text-align: center;
    svg {
      box-sizing: content-box;
      margin-top: -5rem;
      height: 5rem;
      width: 5rem;
      background-color: $light-gray;
      border-radius: 50%;
      padding: 2rem;
      box-shadow: -10px -5px 32px -11px rgba(0, 0, 0, 0.4) inset;
    }
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 2.5rem;
      line-height: 3.2rem;
      font-weight: 700;
      text-align: center;
      margin: 0;
      padding: 3rem;
    }
  }
}
